body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #122a52;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.game-container {
  border: 2px solid #2e8551;
  position: relative;
  margin: 50px auto;
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
}

.game-over-container {
  background-color: #000;
  flex-direction: column;
  justify-content: space-around;
}

.reset-button {
  width: 200px;
  height: 100px;
  margin: 30px auto;
  background-color: #ff03bc;
  font-weight: bold;
  font-size: 20px;
}

.skull-image {
  width: 300px;
  height: 300px;
  margin: 20px auto;
}

.game-over-text {
  color: red;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.game-over-container .snake-point, .game-over-container .snake-target {
  display: none;
}

.scoreboard {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid #fff;
  padding: 15px 20px;
}

.snake-point {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #ff03bc;
  border: 1px solid #fff;
  z-index: 2;
}

.snake-target {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #03ff18;
  border: 1px solid rgb(34, 196, 29);
  z-index: 1;
}
